nav{
    width: 100%;
    /* background: #333; */
    color: #fff;
    padding: 4px 0;
    margin: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    width: 180px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

