.programs{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.programs img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.program{
    flex-basis: 31%;
    position: relative;
    transition: 0.5s ease;
}

.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    opacity: 0;
    padding-top: 70%;
    transition: 0.3s ease;
}

.caption:hover {
    opacity: 1;
    padding-top: 0;
}

.caption img {
    width: 60px;
    margin-bottom: 10px;
}

.program:hover{
    transform: scale(0.99);
    transition: 0.3s ease;
}